.image{
    display:flex;
    height: 300px;
    width: 600px;
    /* align-items: center; */


}
.box1{
    display: flex;
  justify-content: center;
  justify-content: space-around;
}
.button{
    background-color: #008CBA;
    font-size: 16px;
    margin: 4px 2px;
    padding: 9px 20px;
}
.button1{
    background-color: #008CBA;
    font-size: 16px;
    margin: 4px 2px;
    padding: 9px 20px;
}
.button2{
    background-color: #008CBA;
    font-size: 16px;
    margin: 4px 2px;
    padding: 9px 20px;
}
.bigbox{
    display: grid;
    justify-content: center;
    align-content: center;
}